.portal-navbar{
    /* position: fixed; */
}
.portal-navbar .avatar{
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  }
.portal-navbar .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  }
